*{
  margin: 2px auto;
  font-family: 'Rubik', sans-serif;
}

.container{
  /*background-color: powderblue;* */
  width:100vw;
  
}

#nav1, #nav2{
  color:black;
  text-decoration: none;
}

#card{
  margin-top: 10px;
}










































